body {
    padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* for item iconic buttons */
#todo-list .item-buttons > span {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    vertical-align: text-top;        
}

#todo-list .todo-content {
    margin: 10px;
}

#todo-stats {
    margin-bottom: 10px;
}
