build
env.d
.idea/

tool/logs/*
# python
*.pyc

# gedit temp files
*~

htmlcov
.coverage
.coverage.*

# dev/testing
dump
a.out

.noseids

# Release artifacts
venture-*.tgz
venture-*.tar
venture-*.tar.gz

# Lemonade parser generator output
python/lib/parser/church_prime/grammar.out
python/lib/parser/church_prime/grammar.py
