# Build artifacts
/build
env.d
a.out

# Log location for dev tools
/tool/logs/*

# Python compiled files
*.pyc

# Editor/OS temp files
*~
.idea/
.DS_Store
# VIM swap files
.*.swp

# Coverage reports
/htmlcov
/.coverage
/.coverage.*

# Dev/testing
dump
.noseids
/.mypy_cache
# Compiled Stan model cache
/test/integration/models/

# Release artifacts
/venture-*.tgz
/venture-*.tar
/venture-*.tar.gz
/dist
/MANIFEST
/venture.egg-info

# Lemonade parser generator output
/python/lib/parser/church_prime/grammar.out
/python/lib/parser/church_prime/grammar.py
/python/lib/parser/venture_script/grammar.out
/python/lib/parser/venture_script/grammar.py
/python/lib/parser/church_prime/grammar.sha256
/python/lib/parser/venture_script/grammar.sha256

ideal_prior_trick_mar.png
.eggs
*.so
ideal_prior_weight_mar.png

# Ignore linux artifacts.
.fuse*

# XXX no idea where the function caching is coming from.
.cache
