[submodule "backend/v1-pre-scm/testing"]
	path = backend/v1-pre-scm/testing
	url = git@github.com:axch/test-manager.git
[submodule "backend/v1-pre-scm/pattern-case"]
	path = backend/v1-pre-scm/pattern-case
	url = git@github.com:axch/pattern-case.git
[submodule "backend/v1-pre-scm/adaptive-plot"]
	path = backend/v1-pre-scm/adaptive-plot
	url = git@github.com:axch/adaptive-plot.git
