# Copyright (c) 2014, 2015 MIT Probabilistic Computing Project.
#
# This file is part of Venture.
#
# Venture is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Venture is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Venture.  If not, see <http://www.gnu.org/licenses/>.

[nosetests]
verbosity=3
detailed-errors=1
nocapture=1

with-ignore-docstrings=1 # From sudo pip install nose-ignore-docstring

with-flaky=1 # From pip install flaky

tc-file=test/puma-config.py
tc-format=python

tests=test/analytics

## NOSETESTS FOR IPYTHON PARALLEL TOOLS
# Run all nosetests for venture's ipython parallel tools (MRipl)
# and Unit/Analytics (which also use MRipl in places)

# CONFIGURATION
# select puma/lite backend with *get_ripl*
# select local/remote mode for MRipl by setting  *get_mripl_local_mode* to true/false
# 'remote mode' only works if you have an ipcluster running

# EXAMPLE
# nosetests -c mripl-ipy-parallel.cfg --tc=get_ripl:puma --tc=get_mripl_local_mode:true
