#bar{
        width:200px;
        height:25px;
        border:1px solid black;
        position:relative;
}

#slider{
        width:0%;
        height:100%;
        background-color:red;
        top:0px;
        left:0px;
        position:absolute;
        cursor:pointer;
}

#info{
        width:200px;
        height:25px;
        border:1px solid black;
}
